[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.0"
django-tenants = "*"
psycopg2 = "*"
asgiref = "*"
certifi = "*"
chardet = "*"
idna = "*"
pytz = "*"
requests = "*"
sqlparse = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
